.root {
    display: flex;

    padding: 15px;

    color: var(--secondary-color);
}

/* Отступ от Аватарки вправо */
.root > a {
    margin-right: 15px;
}


.post__time {
    font-size: 12px;
    line-height: 14px;
    color: var(--secondary-color);
}