.root {
  background-color: white;
}

.post__img {
  width: 100%;
}

.post__text {
  font-size: 16px;
  line-height: 22px;
  margin: 15px;
}


.post__btns {
  display: flex;
  margin-left: 15px;
  margin-bottom: 20px;
}