._ {

}

._ + ._ {
  margin-top: 15px;
}

.link {
  display: flex;
  align-items: center;

  padding-left: 15px;

  width: 100%;
  height: 50px;
}

._ svg {
  margin-right: 15px;
}

._:hover {
  background-color: #fff;
  /*overflow: hidden;*/
}

._:hover .link:not(.active) {
  color: var(--hover-color);
}

._:hover .link:not(.active) svg {
  fill: var(--hover-color);
}

.active {
  color: var(--accent-color);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.active svg {
  fill: var(--accent-color);
}