._ {
    display: flex;
    align-items: center;

    margin-top: 30px;
}

._ svg {
    margin-right: 15px;
}

._:hover rect {
    stroke: #7540EE;
}

._:hover rect + rect {
    fill: #7540EE;
}

._:hover path {
    fill: #fff;
}